#datosUsuario{
	float: right;
	padding: 10px;
	margin: 8px 8px 0px 0px;
	color: #fff;	
	text-align: right;
	border-right: 1px solid #F54747;	
}

.precio{
	color: #7ea928;
}

.big{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	padding: 0px;
	font-size: 1.2em;	
}

.boton{
	cursor: pointer;		
	text-align: center;
	background: #669900;
	border: 2px solid #7ea928;	
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;	
}

.boton:hover{
	background: #7ea928;	
	color: #fff;
}

.total{
	text-align: right;
}



section article{
	float: left;
	width: 20%;
	min-height: 200px;
	margin: 5px;
	padding: 20px;
	border: 1px solid #CECECE;			
}

section article h3{	
	color: #1E1E1E;
}

section article h3 a{
	color: #1E1E1E;
	text-decoration: none;
}

section article h3 a:hover{
	color: #7ea928;
}


section article p{
	width: 80%;
}

section article select{
	margin-top: 40px;
	padding: 10px;
	color: #fff;
	background-color: #e31c23;
	border: none;
	text-align: center;	
}

.a{
	background: url('../comida/a.jpg') bottom right no-repeat;
}

.b{
	background: url('../comida/b.jpg') bottom right no-repeat;
}

.c{
	background: url('../comida/c.jpg') bottom right no-repeat;
}

.d{
	background: url('../comida/d.jpg') bottom right no-repeat;
}

.e{
	background: url('../comida/e.jpg') bottom right no-repeat;
}

.f{
	background: url('../comida/f.jpg') bottom right no-repeat;
}

.g{
	background: url('../comida/g.jpg') bottom right no-repeat;
}

.h{
	background: url('../comida/h.jpg') bottom right no-repeat;
}

.i{
	background: url('../comida/i.jpg') bottom right no-repeat;
}

.j{
	background: url('../comida/j.jpg') bottom right no-repeat;
}

.k{
	background: url('../comida/k.jpg') bottom right no-repeat;
}