@import url(http://fonts.googleapis.com/css?family=Open+Sans);


*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	transition: .3s;
}

body{
	display: table;
  	width: 100%;
}

.centrado{
	margin: 0 auto;
	width: 90%;
}

.error{
	color: #e31c23;
}

.bien{
	color: #7ea928;
}


nav{
	border-top: 1px solid red;
	height: 80px;
	background-color: #d92405;	
}

nav #logo{
	padding: 10px;	
	float: left;
}

nav ul{
	float: right;
}

nav ul li{	
	list-style: none;
	vertical-align: middle;
	display: inline-block;
	line-height: 60px;
	height: 60px;	
	padding: 10px;
	color: #fff;	
	text-transform: uppercase;
	font-weight: bolder;
}

nav ul li:hover{
	background-color: #FB5E42;
	color: #fff;
}

header{
	background: url(../img/pizza.jpg) center;
	background-repeat: no-repeat;	
}

header h1{
	font-size: 3.2em;
	text-transform: uppercase;
	padding: 50px;
	color: #fff;
	text-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

section{	
	margin: 0 auto;	
	padding: 20px;		
}

section .cuadroInReg{
	float: right;
	width: 30%;
	padding: 20px;
	background: url(../img/pat.png);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

section li{
	list-style: none;
	text-indent: 50px;
}

section .receta{
	margin-bottom: 10px;
	padding: 20px;
}

section .cuadroInReg h2{
	color: #fff;
}

section .cuadroInReg a{
	margin: 10px auto 15px auto;
	padding: 5px 0px 5px 0px;
	display: block;	
	text-align: center;
	background: #669900;
	border: 2px solid #7ea928;	
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	width: 85%;
}

section .cuadroInReg a:hover{
	background: #7ea928;	
	color: #fff;
}

option{
	border: none;
	padding: 2px;
}

section form h2{
	text-align: left;
	color: #fff;	
}

section form input{
	margin: 5px auto 15px auto;
	border: 3px solid #9A9A9A;
	width: 80%;
	padding: 7px;
	display: block;	
}

section form input:focus{
	border: 3px solid #7ea928;
}

section form input[type='submit']{
	background: #669900;
	border: 2px solid #7ea928;	
	color: #fff;
	text-transform: uppercase;
	width: 85%;
}

section form input[type='submit']:hover{
	background: #7ea928;	
	color: #fff;
	cursor: pointer;
}


footer{
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 4em;	
	border-top: 1px solid blue;	
}



@media(max-width: 900px){
	section .cuadroInReg{
		margin: 50px auto;	
		width: 90%;		
	}
}
